@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.line::before {
  @apply block relative rounded-full top-20 -left-12 w-16 h-2 bg-orange;
  content: '';
  transform: rotate(90deg);
}

.nav-link::after {
  @apply bg-gray rounded-full absolute;
  content: '';
  top: 8px;
  right: -3px;
  width: 6px;
  height: 6px;
}

.nav-link:last-child::after {
  @apply bg-transparent;
}

.image {
  @apply absolute h-full w-full top-0 left-0 object-cover object-center;
}

.image--full {
  transition: opacity 400ms ease 0ms;
}
.image--thumbnail {
  filter: blur(20px);
  transform: scale(1.1);
  transition: visibility 0ms ease 400ms;
}

.sorting-order {
  background: url(/chevron-down.svg);
  background-size: 12px;
  background-position: calc(100% - 5px) 4px;
  background-repeat: no-repeat;
}

.filter {
  @apply inline-block px-2 border rounded-full cursor-pointer text-xs font-semibold bg-white;
}

.search::before {
  content: url(/search.svg);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.search:focus-within::before {
  content: url(/search-dark.svg);
}

.title::after {
  @apply h-20 w-20 absolute;
  content: url(/tulip.svg);
  top: -42px;
  left: -50px;
  z-index: -1;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.outline-blue {
  outline-color: #25ccf7;
}

.outline-rounded:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px #25ccf7;
}

.outline-spaced {
  outline-offset: 0.25em;
}
