@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

html {
  margin-left: calc(100vw - 100%);
}

.section-name {
  @apply text-xs;
  @apply text-gray;
  @apply font-semibold;
  @apply leading-5;
  @apply uppercase;
}

.section-content {
  @apply text-sm;
  @apply text-dark;
  @apply font-light;
}

.section-headline--blue::before,
.section-headline--orange::before,
.section-headline--red::before {
  content: '';
  height: 6px;
  transform: rotate(90deg);
  @apply block;
  @apply relative;
  @apply top-8;
  @apply -left-9;
  @apply w-10;
  @apply rounded-full;
}

.section-headline--blue::before {
  @apply bg-blue;
}

.section-headline--orange::before {
  @apply bg-orange;
}

.section-headline--red::before {
  @apply bg-red;
}

.nav-link::after {
  content: '•';
  @apply mx-2;
  @apply text-gray;
}

.nav-link:last-child::after {
  content: '';
}

.image {
  @apply absolute;
  @apply h-full;
  @apply w-full;
  @apply top-0;
  @apply left-0;
  @apply object-cover;
  @apply object-center;
}

.image--full {
  transition: opacity 400ms ease 0ms;
}
.image--thumbnail {
  filter: blur(20px);
  transform: scale(1.1);
  transition: visibility 0ms ease 400ms;
}

.sorting-order {
  background: url(/chevron-down.svg);
  background-size: 12px;
  background-position: calc(100% - 5px) 4px;
  background-repeat: no-repeat;
}

.filter {
  @apply inline-block;
  @apply px-2;
  @apply border;
  @apply rounded-full;
  @apply cursor-pointer;
  @apply text-xs;
  @apply font-semibold;
  @apply bg-white;
}

.search::before {
  content: url(/search.svg);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.search:focus-within::before {
  content: url(/search-dark.svg);
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
}
